# Last.fm
PUBLIC_LAST_FM_API_KEY=your_last_fm_api_key
LAST_FM_SECRET=your_last_fm_secret
PUBLIC_LAST_FM_USERNAME=your_last_fm_username

# Cloudinary
PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret